.two{
    background-color: rgb(47, 47, 226);
}
.two_1{
    text-align: center;
    color: white;
}
.car{
    /*background-color: rgb(47, 47, 226);*/
    text-align: center;
    color: white;
}
.four{
    background-color: rgb(47, 47, 226);
    text-align: center;
}
.custom-file{
    padding-top:40px;
}
.qus{
    color:white;
}
.five ul{
    list-style: none;
    color: black;
}
.block_quote{
    width: 400px;
    border: black;
    border-width: 5px;
    border-radius: 2px;
    position: absolute;
    background-color: white;
    top: 220px;
    right: 300px;
    padding: 5px;
}
.love_bg{
    position: absolute;
    left: 210px;
}
.love{
    position: absolute;
    left: 240px;
    bottom: 4px;
}
.comma1{
    padding-right: 5px;
}
@media (max-width: 768px){
    .large{
        display: none;
    }
    .intro{
        text-align: center;
    }
    .two_2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media (min-width: 769px){
    .small{
        display: none;
    }
    .two_2{
        display: grid;
        grid-template-columns: repeat(9,1fr);
    }
}